@import 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css';

.container {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.min-h-{
    min-height: 100vh;
}

.bg-{
    background-color: #fff;
}

.text- {
    color: #000;
}

.card {
    border: 1px solid #000;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .card-header {
      background-color: #f7fafc;
      padding: 1rem;
    }
  
    .card-content {
      padding: 1rem; 
    }
}

.w-full py-12 md:py-24 lg:py-32 xl:py-48{
    margin-top: -10em;
}

.nav-link {
  @apply text-sm font-medium text-gray-600 transition-all duration-300 ease-in-out;
  position: relative;
  display: inline-block;

  &:hover,
  &:focus {
    @apply text-blue-400;
    transform: scale(1.1);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    @apply flex-col items-center;
  }

  .nav-link {
    @apply block w-full py-4 text-lg text-center border-b border-gray-200;
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  nav.md\\:hidden {
    @apply block w-full text-center;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  nav.md\\:hidden:not(.hidden) {
    max-height: 500px; /* Ajusta este valor según el contenido */
  }
}

.nav-link-underline {
  display: block;
  height: 2px;
  background-color: #3b82f6;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover .nav-link-underline {
  transform: scaleX(1);
}
